@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.calculator-page {
  padding: 20px;
  background-color: lightgrey;
  height: 100vh;
}

.calculator-page h1 {
  font-family: 'Permanent Marker', cursive;
  color: #2586a2;
}

.calculator {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: auto;
  box-sizing: border-box;
  border: 1px solid;
}

.result {
  width: calc(100% - 5px);
  background-color: #858792;
  height: 3rem;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
  color: #fff;
}

.row {
  width: 100%;
}

.row button {
  width: 25%;
  background-color: #e1e0e1;
  border: 1px solid lightgrey;
  height: 3.5rem;
  cursor: pointer;
}

.row button:hover {
  background-color: grey;
}

.operations {
  background-color: #2586a2 !important;
}

.operations:hover {
  background-color: #0c4a5c !important;
}

.last-btn {
  width: 50% !important;
}
